<div class="contenedorComentario">  
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
   <strong>Comment:</strong>
    <%= comment.body %>
  </p>
</div>
<%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Eliminar?' } %>